/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2016, 11:55:28 AM
    Author     : alex
*/

body {
    background-color: #ccc !important;
}

#page {
    width:90%;
    margin:auto;
    padding:1em 0 1em 1em;
    background-color: #fff;
}

#pagelogin {
    height:642px;
}

.lbltext {
    float:left;
}

#listlogin {
    list-style: none;
}

#frmLogin .lbltext {
    width:15em;
    text-align:right;
}

#btnlogin {
    margin-left:15em;
}

/* registration */

.wizard .content > .body ul.wizlist {
    margin-left:0;
    padding-left:0;
    list-style-type:none !important;
}

ul.wizlist li {
    clear:both;
    margin-left:0;
    padding-left:0;
    display:block;
    oveflow:auto;
    margin-bottom:0.5em;
}

ul.wizlist li .lbltext{
    width:20em;
    text-align:right;
    padding-right:0.5em;
}

ul.wizlist li .lbltext.required::after , #wizard .lbltext.required::after {
    content: " *";
}

.wizard > .content > .body input.error {
    float:left;
}

.wizard .content {
    min-height: 100px;
}
.wizard .content > .body {
    width: 100%;
    height: auto;
    padding: 15px;
    position: relative;
}

/*end registration*/

/* generic page styles*/
#header {
    background: url("../img/logo_sito.jpg") no-repeat right;
    height: 102px;
}

title {
    color:#003269;
}

h1 {
    color:#003269 !important;
}

h2 {
    color:#003269;
}

.ui-state-error {
    color:red;
    font-weight:bold;
    border:1px solid red;
    background:#fbc2c4;
    margin-bottom:15px;
}

.ui-state-error>p {
    margin-top:10px;
}

.ui-corner-all{}

/* navigation */
nav ul {
    list-style-type: none;
    overflow:auto;
    padding-left:0;
    margin-left:0;
}

nav ul li {float:left;}


nav ul li a {
    display:block;
    background-color:#00396F;
    color:#fff;
    padding:3px;
    margin:1px;
    padding-left:29px;
}

#navuserdata {padding:3px 3px 3px 0;}

#navhome:link {
    background-image: url("../img/home-24.png");
    background-repeat: no-repeat;
    background-position:3px 1px;    
}

#navlogout:link {
    background-image: url("../img/logout-24.png");
    background-repeat: no-repeat;
    background-position:3px 1px;
}

#navuserprofile:link {
    background-image: url("../img/user-24.png");
    background-repeat: no-repeat;
    background-position:3px 1px;
}

/*edit profile*/
dl.profile dd {
    float:left;
    width:10em;
    text-align:left;
    padding: 2px;
    margin:1px;
    background-color: #dce8ef;
}

dl.profile dt {
    padding: 2px;
    margin: 2px;
} 

ul.profile {
    list-style-type: none;
}

ul.profile label {
    width:12em;
    float:left;
}

ul.profile label.error {
    width:20em;
    color:#ff0000;
}

/*footer*/
.footercontactinfo {
    background:rgb(46,91,143);
    overflow:auto;
    color:white;
    font-size:0,7em;
    font-weight:bold;
    padding:8px;
    width:90%;
    margin:auto;
    margin-bottom:30px;
}

.footercontactinfo a:link{color:white; text-decoration:underline}

.footercontactinfo a:visited{color:white; text-decoration:underline}

.footercontactinfo a:hover{color:white; text-decoration:none}

.footercontactinfo a:active{color:white; text-decoration:underline}


/*ADMIN*/
table th, table td {
    padding:5px;
}

menu {
    padding-left:2px;
}

menu.admin-menu ul {
    list-style-type: none;
    margin-left: 0;
    padding-left:0;
    overflow:auto;
}

menu.admin-menu li {
    float:left;
    background-color:rgb(0,57,111);
    margin:2px;
    padding:3px;
    color:white;
}

menu.admin-menu li a {
    color:#ffffff;
}

/* tabelle DataTables*/
#tblutenti_wrapper {
}

div.dataTables_wrapper div.dataTables_filter {
    text-align:left !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align:left !important;    
}

td.linkprofile {
    background-color: #00396F;
}

td.linkprofile img {
    width:12px;
}

.courselist tr td {
    border-bottom:1px solid #ffffff;
}

.courselist tr.even {
    background-color: #e2f0fe;
}

.courselist tr.odd {
    background-color: #cfe7fd;
}

th.profilelink {
    padding-right:0 !important;
}

ul.profile label[for="biennio"] {
    float:left;
}

ul.editbiennium {
    margin-left:10em;
    list-style-type: none;
    padding-left:0;
}

ul.editbiennium li label {
    line-height: 1em;
    width:6em;
    margin-top:0.5em;
    float:none;
} 

ul.editbiennium input {
    float:left;
}
